In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df_cbs = pd.read_csv('../../data/raw/CBS_Kerncijfers.csv', sep=';')
df_cbs.describe()

,ID,IndelingswijzigingGemeenteWijkBuurt_4,AantalInwoners_5,Mannen_6,Vrouwen_7,k_0Tot15Jaar_8,k_15Tot25Jaar_9,k_25Tot45Jaar_10,k_45Tot65Jaar_11,k_65JaarOfOuder_12,...,PersonenPerSoortUitkeringAO_81,PersonenPerSoortUitkeringWW_82,PersonenPerSoortUitkeringAOW_83,JongerenMetJeugdzorgInNatura_84,PercentageJongerenMetJeugdzorg_85,WmoClienten_86,WmoClientenRelatief_87,TotaalDiefstalUitWoningSchuurED_88,VernielingMisdrijfTegenOpenbareOrde_89,GeweldsEnSeksueleMisdrijven_90
count,1536.000000,1240.000000,1536.000000,1536.000000,1536.000000,1536.000000,1536.000000,1536.000000,1536.000000,1536.000000,...,54.000000,54.000000,54.000000,50.000000,50.000000,50.000000,50.000000,54.000000,54.000000,54.000000
mean,516.425781,1.487097,3388.964193,1680.876953,1708.064453,626.045573,425.694661,967.777995,944.911458,424.583333,...,529.074074,245.555556,1127.592593,290.600000,70.220000,609.200000,50.560000,4.685185,5.000000,8.703704
std,92.826234,0.854081,16845.341600,8357.880021,8487.542602,3104.502056,2140.502172,4779.332591,4753.724999,2106.295336,...,1460.815575,674.197403,3104.166971,870.661044,19.644067,1689.025006,35.586721,2.393577,8.606711,21.429683
min,381.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,10.000000,6.000000,10.000000,10.000000,0.000000,0.000000,0.000000
25%,433.000000,1.000000,35.000000,20.000000,15.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,100.000000,50.000000,235.000000,46.250000,67.000000,136.250000,25.250000,3.000000,2.250000,3.000000
50%,501.500000,1.000000,1180.000000,580.000000,590.000000,200.000000,135.000000,330.000000,305.000000,135.000000,...,205.000000,100.000000,370.000000,102.500000,74.000000,185.000000,43.500000,5.000000,4.000000,4.000000
75%,597.250000,1.000000,2222.500000,1105.000000,1131.250000,425.000000,275.000000,655.000000,601.250000,311.250000,...,287.500000,140.000000,692.500000,158.750000,82.000000,385.000000,59.750000,6.000000,4.750000,5.750000
max,693.000000,3.000000,229574.000000,113738.000000,115836.000000,41399.000000,28014.000000,67600.000000,60899.000000,32510.000000,...,9520.000000,4410.000000,20290.000000,5805.000000,98.000000,10820.000000,192.000000,10.000000,62.000000,154.000000

In [ ]:
df_cbs = df_cbs[df_cbs["k_0Tot15Jaar_8"] != 0]
df_cbs = df_cbs[df_cbs["k_15Tot25Jaar_9"] != 0]
df_cbs = df_cbs[df_cbs["AantalInwoners_5"] != 0]

df_cbs = df_cbs[df_cbs["k_0Tot15Jaar_8"] != '']
df_cbs = df_cbs[df_cbs["k_15Tot25Jaar_9"] != '']
df_cbs = df_cbs[df_cbs["AantalInwoners_5"] != '']

df_cbs = df_cbs[df_cbs["k_0Tot15Jaar_8"].notna()]
df_cbs = df_cbs[df_cbs["k_15Tot25Jaar_9"].notna()]
df_cbs = df_cbs[df_cbs["AantalInwoners_5"].notna()]
df_cbs.describe()

,ID,IndelingswijzigingGemeenteWijkBuurt_4,AantalInwoners_5,Mannen_6,Vrouwen_7,k_0Tot15Jaar_8,k_15Tot25Jaar_9,k_25Tot45Jaar_10,k_45Tot65Jaar_11,k_65JaarOfOuder_12,...,PersonenPerSoortUitkeringAO_81,PersonenPerSoortUitkeringWW_82,PersonenPerSoortUitkeringAOW_83,JongerenMetJeugdzorgInNatura_84,PercentageJongerenMetJeugdzorg_85,WmoClienten_86,WmoClientenRelatief_87,TotaalDiefstalUitWoningSchuurED_88,VernielingMisdrijfTegenOpenbareOrde_89,GeweldsEnSeksueleMisdrijven_90
count,1141.000000,914.000000,1141.000000,1141.000000,1141.000000,1141.000000,1141.000000,1141.000000,1141.000000,1141.000000,...,53.000000,53.000000,53.000000,50.000000,50.000000,50.000000,50.000000,53.000000,53.000000,53.000000
mean,507.148992,1.489059,4559.858896,2261.531113,2298.244522,842.695881,572.661700,1301.956179,1271.480280,571.178791,...,538.867925,250.188679,1148.867925,290.600000,70.220000,609.200000,50.560000,4.773585,3.924528,5.962264
std,90.166166,0.858174,19410.094144,9630.459372,9779.743414,3576.969496,2466.822337,5506.533662,5478.393483,2426.938648,...,1473.004074,679.780764,3129.895341,870.661044,19.644067,1689.025006,35.586721,2.325788,3.440981,7.377101
min,381.000000,1.000000,20.000000,5.000000,5.000000,5.000000,5.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,10.000000,10.000000,6.000000,10.000000,10.000000,0.000000,0.000000,0.000000
25%,427.000000,1.000000,1000.000000,500.000000,505.000000,165.000000,110.000000,260.000000,230.000000,105.000000,...,100.000000,50.000000,250.000000,46.250000,67.000000,136.250000,25.250000,3.000000,2.000000,3.000000
50%,487.000000,1.000000,1610.000000,785.000000,810.000000,280.000000,190.000000,460.000000,440.000000,210.000000,...,210.000000,100.000000,370.000000,102.500000,74.000000,185.000000,43.500000,5.000000,4.000000,4.000000
75%,590.000000,1.000000,2825.000000,1385.000000,1420.000000,550.000000,330.000000,910.000000,705.000000,415.000000,...,290.000000,140.000000,710.000000,158.750000,82.000000,385.000000,59.750000,6.000000,4.000000,5.000000
max,691.000000,3.000000,229574.000000,113738.000000,115836.000000,41399.000000,28014.000000,67600.000000,60899.000000,32510.000000,...,9520.000000,4410.000000,20290.000000,5805.000000,98.000000,10820.000000,192.000000,10.000000,25.000000,43.000000

In [36]:
df_cbs.to_csv('../../data/processed/CBS_Kerncijfers_cleaned.csv', sep=';', index=False)